.report {
  width: 297mm;
  height: 210mm;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.footer, .header {
  font-size: 3mm;
  user-select: text;
  color: #555;
  width: 250mm;
}
.header{
  display: flex;
  justify-content: space-between;
}
.number {
  font-weight: 400;
  color: #444;
}
.unit {
  font-size: 3mm;
  font-weight: 500;
  color: #555;
  margin-left: 0.15mm;
}
.seperator{
  font-size: 3mm;
  font-weight: 500;
  color: #666;
}


@media print {
  @page {
    size: A4 landscape;
    marks: none;
  }
}
