.graph {
  --fg: #fff;
  --bg: hsl(1, 100%, 57%);
  max-height: 600px;
  width: 90vmax;
  height: 80vh;
  position: absolute;
  color: var(--fg);
}

.bpm {
  position: absolute;
  z-index: 1;
  right: 2rem;
  top: 2rem;
  font-size: 5rem;
  text-align: right;
  font-weight: 400;
}

.units {
  font-size: 1.25rem;
  text-align: left;
  font-weight: 500;
}

.symbol {
  fill: var(--fg);
}
.electrode{
  fill: var(--bg);
}

.message {
  fill: var(--fg);
  font-weight: 500;
}
