.trace {
    margin: 2mm 0 2.75mm;
}

.gridMajor, .gridMinor {
  shape-rendering: geometricprecision;
}

.line {
  stroke-linejoin: round;
}

:export {
  traceColour: hsl(205, 100%, 50%);
  traceStrokeWidth: 0.25;
  calibrationColour: #666666;
  calibrationStrokeWidth: 0.25;

  gridMajorColour: #CCCCCC;
  gridMinorColour: #E5E5E5;
  gridStrokeWidth: 0.25;

  axisTickHeight: 3;

  labelColour: #CCCCCC;
  labelTransform: translate(0.5, -7);
  labelFontWeight: 600;
  labelFontSize: 2;
  labelTextAnchor: start;

  svgPadding: 5;
}
